* {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
}

nav {
  flex: 1;
  text-align: left;
  margin: 0;
}

nav ul {
  display: flex;

  list-style: none;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  float: right;
  font-size: 15px;
  padding-left: 30px;
  padding-top: 10px;
  color: black;
  padding-right: 30px;
  padding-left: 30px;
  background-color: lightskyblue;
  padding-bottom: 10px;
}

.ia {
  float: left;
  background-color: rgb(160, 160, 160);
  color: rgb(255, 255, 255);
  margin-left: 0px;
  padding-bottom: 10px;
  padding-right: 10px;
}

img {
  display: inline;
  width: 1800px;
}

.row {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 40%;
  width: 100%;
}

.lft {
  width: 25%;
  margin-left: 20px;
  color: white;
  position: absolute;
  top: 40%;
}

.learn {
  width: 20%;
  position: relative;
  left: 20%;
  background-color: white;
  padding: 20px 20px 90px;
  border-radius: 10px;
  box-sizing: inherit;
  height: 150px;
  line-height: 25px;
  background-image: url("https://media.gettyimages.com/photos/ripping-right-past-the-password-picture-id1138004673?k=6&m=1138004673&s=612x612&w=0&h=zm4v53alGb7a9fGG8YM2uRhslhHvaJqsh0E9XzMQqJE=");
  background-size: cover;
  color: white;
  font-weight: bold;
  transition: transform 0.5s;
}
.learn:hover {
  transform: translateY(10px);
}
.understand:hover {
  transform: translateY(10px);
}
.work:hover {
  transform: translateY(10px);
}

.understand {
  width: 20%;
  position: relative;
  left: 25%;
  padding: 20px 20px 90px;
  border-radius: 10px;
  height: 150px;
  line-height: 25px;
  background-image: url("https://media.gettyimages.com/photos/girl-learning-to-code-on-a-next-generation-tablet-picture-id567157641?k=6&m=567157641&s=612x612&w=0&h=XC3LsrsQzVrFImUjRRcR3j-rMeL4My35OpZe0pZluOw=");
  background-size: cover;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: transform 0.5s;
}

.work {
  width: 20%;
  position: relative;
  left: 30%;
  padding: 20px 20px 90px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  height: 150px;
  line-height: 23px;
  background-image: url("https://media.gettyimages.com/photos/computer-code-writer-picture-id817097532?k=6&m=817097532&s=612x612&w=0&h=ZH9Ic_Slnom3q2vacKBqiXB0I0nS_g6MIayCDLOHN3w=");
  background-size: cover;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: transform 0.5s;
}

footer {
  background-color: lightskyblue;
  padding: 30px;
  padding-bottom: 30px;
}

a:hover {
  background-color: lightslategray;
}

.col {
  width: 250px;
  margin: 10px;
  position: absolute;
  top: 70%;
  left: 0%;
}

.qu {
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
  font-size: 18px;
}

footer ul {
  text-align: center;
}
footer ul li {
  display: inline;
  text-decoration: none;
  padding: 20px;
}
i {
  padding-right: 10px;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}

.top {
  text-align: center;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  padding-bottom: 50px;
  margin-bottom: 0%;
  color: white;
}

.top ol li {
  display: inline;
  padding: 20px;
}
.top ol li:hover {
  background-color: lightgray;
}
.top p {
  padding-top: 20px;
  font-weight: 700;
  font-size: 30px;
}
